.main-bg {
    background-image: url('../img/background-main.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
    color: var(--primary-color)
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.container {
    min-height: 100vh;
}

.menu {
    position: fixed;
    /* Necessário para funcionar no Safari */
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
    color: var(--primary-color);
}

.menu ul li a {
    display: block;
    color: inherit;
    font-size: 1.8rem;
    padding: 2rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.header-content {
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.header-text,
.header-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.header-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    min-height: 100vh;
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.grid-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-content p {
    padding-bottom: 5rem;
}

.title-top3 {
    margin-bottom: 1rem;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.container-grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.container-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery img {
    transition: all 300ms ease-in-out;
}

.gallery img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap)
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background-color: var(--white);
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    width: 100%;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 5px 3px var(--secondary-color);
}

div.full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.3rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color);
}

.footer {
    text-align: center;
    color: var(--primary-color);
}

.footer p {
    font-size: 1.5rem;
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white);
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 4rem;
}

@media (max-width: 800px) {

    .header-content,
    .container-grid {
        grid-template-columns: 1fr;
    }

    .gallery {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery img {
        width: 100%;
    }

    .menu {
        display: none;
        bottom: 0;
        text-align: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }


    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 1rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
    }
}